<!--<h2> <b> {{hero.name}} </b> details! </h2>
<div><label> Id: </label> {{ hero.id}}</div>
<div><label> Name: </label>{{ hero.name }}</div>
<div><label> Name: </label>  <input [(ngModel)]="hero.name" placeholder="name" /></div> -->
<!--
<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span class="text">{{hero.name}}</span>
  </li>
</ul>

<h3> Here are the selected hero details: </h3>
<div *ngIf="selectedHero">
  <h3> {{selectedHero.name}} details are : </h3>
  <div>
    <label> Id: </label>
    <span class="text"> {{selectedHero.id}}</span>
  </div>
  <div>
    <label> Name: </label>
    <span class="text"> {{selectedHero.name}} </span>
    <input [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div>
-->

  <h1>{{title}}</h1>
<div>
  <button class="int" (click)="testInt()">Test Integer</button>
  <label class="intvalue">{{intValue}}</label>
</div>
<br>
<!--<div>-->
  <!--<button class="string" (click)="testString()">Test String</button>-->
  <!--<label class="stringvalue">{{stringValue}}</label>-->
<!--</div>-->
